<footer class="container-fluid bg-light py-3 mt-5 fixed-bottom ">
    <div class="container text-center">
        <h6 class="mb-0 ">© 2024 <a href="https://github.com/gybratyy" target="_blank" class="text-decoration-none">
                <i class="fa-brands fa-github"></i> </a></h6>

    </div>
</footer>
<script>
    const addPostButton = document.getElementById('add-post-button');
    const formContainer = document.getElementById('create-post-form-container');
    const cancelButton = document.getElementById('cancel-form');

    function showaddForm() {
        formContainer.style.display = 'block';
    }

    cancelButton.addEventListener('click', () => {
        formContainer.style.display = 'none';
    });


    const editFormContainer   = document.getElementById('edit-form');
    const cancelEditButton = document.getElementById('cancel-edit-form');

    function showEditForm() {
        editFormContainer.style.display = 'block';
    }

    cancelEditButton.addEventListener('click', () => {
        editFormContainer.style.display = 'none';
    });

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>

</html>
